@mixin disabled-default() {
  cursor: not-allowed;
    opacity: 0.4;
}
.ay-button {
  width: 48px;
  height: 48px;
  font-size: 16px;
  margin-right: 16px;
  border: 1px solid deepskyblue;
  background: white;
  color: deepskyblue;
  cursor: pointer;
  &.disabled {
    @include disabled-default();
  }
}

.ay-number-input {
  width: 48px;
  height: 48px;
  border: 1px solid grey;
  margin-right: 16px;
  background: white;
  color: grey;
  text-align: center;
  &.disabled {
    @include disabled-default();
  }
}